---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">

<style>
  .container {
    text-align: center; 
    display: block; 
    margin-left: 50; 
    margin-right: auto; 
  }

  .image {
    width: 10%; 
    height: auto; 
  }
</style>
  
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<div class="container">
  <a href="https://clustrmaps.com/site/1c11v"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=PxwxD_4JrocFZS25FfKMK4xtAqSV6liDLeQj79TMHFs&cl=ffffff" /></a>
</div>
  </body>
</html>
